<div class="faq-accordian green-bg-add bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
    <div class="title-black text-center">
      {% if section.settings.heading-text != blank %}
        <h2 class="title h2 ls-m">{{ section.settings.heading-text }}</h2>
      {% endif %}
    </div>
    <div class="accordion" id="accordionExample">
        {% for block in section.blocks %}
        <div class="card">
          <div class="card-header" id="heading-{{forloop.index}}">
            <h2 class="mb-0">
              <a href="#" {% if forloop.index != 1 %}class="collapsed"{% endif %} type="button" data-toggle="collapse" data-target="#collapse-{{forloop.index}}" aria-expanded="true" aria-controls="collapseOne">
                {{ block.settings.question }}
              </a>
            </h2>
          </div>
      
          <div id="collapse-{{forloop.index}}" class="collapse {% if forloop.index == 1 %} show {% endif %}" aria-labelledby="heading-{{forloop.index}}" data-parent="#accordionExample">
            <div class="card-body">
              <p>{{ block.settings.answer }}</p>
            </div>
          </div>
        </div>
        
        {% endfor %}  
      </div>
</div>
</div>
</div>
  </div>
  
  
  {% schema %}
  {
    "name": "FAQs",
    "settings": [
        {
          "id": "heading-text",
          "type": "text",
          "label": "Heading"
        },
        {
            "id": "bg-img",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "blocks":[
        {
          "name":"Question",
          "type":"faq_blocks",
          "settings":[
              {
                  "id": "question",
                  "type": "text",
                  "label": "Question"
              },
              {
                  "id": "answer",
                  "type": "html",
                  "label": "Answer"
              }
          ]
        }
    ],
    "presets": [
          {
              "name": "FAQs",
              "category": "faq",
              "blocks": [
                  {
                    "type": "faq_blocks"
                  },
                  {
                    "type": "faq_blocks"
                  }
                ]
          }
      ]
  }
  {% endschema %}
  