{{ 'announcementbar.css' | asset_url | stylesheet_tag }}
<div class="announcement">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
<div class="owl-carousel owl-theme" id="announcement-bar">
{%- for block in section.blocks -%}
      <div class="item" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
              <p class="announcement-bar-message">
                {{ block.settings.text | escape }}
              </p>
        {%- endif -%}
      </div>
{%- endfor -%}
</div>
</div>
</div>
</div>
<div class="announcement-close-icon"><img src="{{ 'close.png' | asset_url }}" alt="close-icon"></div>
</div>
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
