{{ 'header.css' | asset_url | stylesheet_tag }}
<header class="header style1">
  <div class="header-navbar">
     <div class="container-fluid">
        <nav class="navbar navbar-expand-xl navbar-dark">
          <div class="phoneno">
           <a href="#">
            <img data-src="{{ 'phone-white.svg' | asset_url }}" alt="Phone" class="lazyload whiteicon">
            <img data-src="{{ 'phone-green.svg' | asset_url }}" alt="Phone" class="lazyload greenicon">
           </a>            
           <div class="contact-numbers">
            {% for block in section.blocks %}
             <a href="tel:{{ block.settings.phno }}"><i class="fa fa-phone" aria-hidden="true"></i>{{ block.settings.name }}: <span>{{ block.settings.phno }}</span></a>
             {% endfor %}
           </div>
         </div>
           <!--  Show this only on mobile to medium screens  -->
           <a href="{{ routes.root_url }}" class="navbar-brand d-md-none">
           {% if section.settings.logo != nil %}
           <img class="lazyload"  data-src="{{ section.settings.logo | img_url: 'master' }}" alt="mobile-logo">
           {%- else -%}
           <span class="h2">{{ shop.name }}</span>
           {%- endif -%}
           </a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
           <!--  Use flexbox utility classes to change how the child elements are justified  -->
           <div class="collapse navbar-collapse justify-content-center" id="navbarToggle">
             
              <ul id="menu-header-menu" class="navbar-nav ml-auto">
             
                 {%- for link in section.settings.menu_left.links -%}
                 <li class="nav-item">
                 <a href="{{ link.url }}" class="nav-link{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                 {{ link.title | escape }}
                 </a>
                </li>
                 {%- endfor -%}
              </ul>
              <!--   Show this only lg screens and up   -->
              <a href="{{ routes.root_url }}" class="navbar-brand d-none d-md-block m-0 p-0">
              {% if section.settings.logo != nil %}
              <img class="lazyload"  data-src="{{ section.settings.logo | img_url: 'master' }}" alt="desktop-Logo">
              {%- else -%}
              <span class="h2">{{ shop.name }}</span>
              {%- endif -%}
              </a>
              <ul id="menu-header-menu" class="navbar-nav mr-auto">
                 {%- for link in section.settings.menu_right.links -%}
                 <li class="nav-item">
                 <a href="{{ link.url }}" class="{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                 {{ link.title | escape }}
                 </a>
                </li>
                 {%- endfor -%}
              </ul>
           
          </div>

           <div class="search-sec">
            <div class="search float-right">
              <div class="search-icon">
                  <a class="search-icon-link" href="javascript:void(0)">
                      <img src="{{ 'search-white.svg' | asset_url }}" class="searchdefault" alt="Search" >
                      <img src="{{ 'search-active.svg' | asset_url }}" class="search_active_icon" alt="Search Active Icon" >
                  </a>
              </div>
              <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form navbar-form">
                <div class="field">
                  <input class="search__input field__input inputSearch" id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}">
                  {% comment %} <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label> {% endcomment %}
                  <input type="hidden" name="options[prefix]" value="last">
                
                </div>
                <div class="search-close-icon">                  
                  <a href="javascript:void(0)">
                      <img class="lazyload" data-src="{{ 'close-green.svg' | asset_url }}" alt="close-icon">
                  </a>
                </div>
              </form>              
          </div>
      
            </div>
         
        </nav>
        <!-- Navbar End -->
     </div>
  </div>
</header>
{% schema %}
        {
        "name": "Header",
        "settings": [
        {
        "type": "header",
        "content": "Menu"
        },
        {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
        },
        {
        "type": "header",
        "content": "Menu"
        },
        {
        "type": "link_list",
        "id": "menu_left",
        "label": "Left Menu"
        },
        {
        "type": "link_list",
        "id": "menu_right",
        "label": "Right Menu"
        },
        {
          "type": "header",
          "content": "Contact Number"
        }
        ],
        "blocks":[
        {
              "name":"Contact Number",
              "type":"select",
              "settings":[
                  {
                    "id": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "id": "phno",
                    "type": "text",
                    "label": "Phno"
                  }
              ]
        }
        ]
}
{% endschema %}