{{ 'header.css' | asset_url | stylesheet_tag }}
<header class="header style1">
  <div class="header-navbar">
     <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-md navbar-dark">
          <div class="phoneno">
           
            <i class="fa fa-phone" aria-hidden="true"></i>
           <div class="contact-numbers">
            {% for block in section.blocks %}
             <a href=""><i class="fa fa-phone" aria-hidden="true"></i>{{ block.settings.name }}: {{ block.settings.phno }}</a>
             {% endfor %}
           </div>
         </div>
           <!--  Show this only on mobile to medium screens  -->
           <a href="{{ routes.root_url }}" class="navbar-brand d-md-none">
           {% if section.settings.logo != nil %}
           <img class="lazyload"  src="{{ section.settings.logo | img_url: 'master' }}">
           {%- else -%}
           <span class="h2">{{ shop.name }}</span>
           {%- endif -%}
           </a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
           <!--  Use flexbox utility classes to change how the child elements are justified  -->
           <div class="collapse navbar-collapse justify-content-center" id="navbarToggle">
              <ul id="menu-header-menu" class="navbar-nav m-auto">
             
                 {%- for link in section.settings.menu_left.links -%}
                 <li class="nav-item">
                 <a href="{{ link.url }}" class="nav-link{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                 {{ link.title | escape }}
                 </a>
                </li>
                 {%- endfor -%}
              </ul>
              <!--   Show this only lg screens and up   -->
              <a href="{{ routes.root_url }}" class="navbar-brand d-none d-md-block m-0 p-0">
              {% if section.settings.logo != nil %}
              <img class="lazyload"  src="{{ section.settings.logo | img_url: 'master' }}">
              {%- else -%}
              <span class="h2">{{ shop.name }}</span>
              {%- endif -%}
              </a>
              <ul id="menu-header-menu" class="navbar-nav m-auto">
                 {%- for link in section.settings.menu_right.links -%}
                 <li class="nav-item">
                 <a href="{{ link.url }}" class="{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                 {{ link.title | escape }}
                 </a>
                </li>
                 {%- endfor -%}
              </ul>
           </div>

           <div class="search-sec">
              <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                <div class="search-modal__content" tabindex="-1">
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                      <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}">
                      <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                          <use href="#icon-search">
                        </svg>
                      </button>
                    </div>
                  </form>
                  <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                    <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-close">
                    </svg>
                  </button>
                </div>
              </div>
            </div>
         
        </nav>
        <!-- Navbar End -->
     </div>
  </div>
</header>
{% schema %}
{
"name": "Header",
"settings": [
{
"type": "header",
"content": "Menu"
},
{
"type": "image_picker",
"id": "logo",
"label": "Logo"
},
{
"type": "header",
"content": "Menu"
},
{
"type": "link_list",
"id": "menu_left",
"label": "Left Menu"
},
{
"type": "link_list",
"id": "menu_right",
"label": "Right Menu"
},
{
  "type": "header",
  "content": "Contact Number"
}
],
"blocks":[
{
      "name":"Contact Number",
      "type":"select",
      "settings":[
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "id": "phno",
            "type": "text",
            "label": "Phno"
          }
      ]
}
]
}
{% endschema %}