<div class="Home-slider">
  <div class="owl-carousel owl-theme" id="home-slider">
    {% for block in section.blocks %}

      <div class="item" role="region" aria-label="{{ block.settings.heading-text }}" style="background-image: url('{{ block.settings.slider-image | img_url:'master' }}')">   
        <img data-src="{{ block.settings.slider-image-mobile | img_url:'master' }}" class="mobile-image lazyload">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="content align-{{ block.settings.layout }}">
              {% if block.settings.heading-text != blank %}
                <h4 class="h4">{{ block.settings.heading-text }}</h4> 
              {% endif %}

              {% if block.settings.subheading-text != blank %}
                <h1 class="h1">{{ block.settings.subheading-text }}</h1> 
              {% endif %}

              {% if block.settings.linktext != blank %}
                <a href="{{ block.settings.link }}" class="btn-custom btn-green"> <span>{{ block.settings.linktext }}</span> </a> 
              {% endif %}
            </div>
            </div>
          </div>
        </div>

      </div>

    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Slider",
  "blocks":[
      {
            "name":"Slider Image",
            "type":"select",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"slider-image",
                    "label":"Images"
                },
                {
                  "type":"image_picker",
                  "id":"slider-image-mobile",
                  "label":"Mobile Image"
              },
                {
                  "type": "select",
                  "id": "layout",
                  "label":"Text alignment",
                  "default": "right",
                  "options": [
                    {
                      "value": "left",
                      "label":"Left"
                    },
                    {
                      "value": "right",
                      "label": "Right"
                    }
                  ]
                },
                {
                  "id": "heading-text",
                  "type": "text",
                  "label": "Heading"
                },
                {
                  "id": "subheading-text",
                  "type": "html",
                  "label": "Sub Heading"
                },
                {
                  "id": "linktext",
                  "type": "text",
                  "label": "Button label"
                },
                {
                  "id": "link",
                  "type": "url",
                  "label": "Button link"
                }
               

            ]
      }
  ],
  "presets": [
        {
            "name": "Banner Slider",
            "category": "custom"
        }
      ]
  
}
  
{% endschema %}