<div class="about-us">
  
         {% capture image_layout %}
        <div class="col-lg-4">
            <div class="new-img">
                {%- if section.settings.image != blank -%}
                    <img src="{{ section.settings.image | img_url : 'master' }}" class="img-fluid">
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
            </div>
        </div>
        {% endcapture %}
        <div class="container" >
         <div class="row align-items-center"> 
			{% if section.settings.layout == 'left' %}
            	{{ image_layout }}
        	{% endif %}
			<div class="col-lg-8">
				<div class="title-black text-center">
					{% if section.settings.heading != blank %}
						<h2 class="h2">{{ section.settings.heading }}</h2>
					{% endif %}
				</div>
				<div class="content text-center">
					{{ section.settings.text }}
				</div>
			</div>
			{% if section.settings.layout == 'right' %}
            	{{ image_layout }}
        	{% endif %}
		</div>
	</div>
</div>

{% schema %}
{
   "name":"Image with text",
   "settings":[
      {         
         "type":"image_picker",
         "label":"Background image"
      },
      {
         "id":"image",
         "type":"image_picker",
         "label":"Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label":"Image alignment",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label":"Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
         "id":"heading",
         "type":"text",
         "label":"Heading"
      },
      {
         "id":"text",
         "type":"html",
         "label":"Text"
      }
   ]
}
{% endschema %}