<article class="article-template single-blog" itemscope itemtype="http://schema.org/BlogPosting">
 <div class="container">
        {%- if article.image -%}
            <div class="article-img" >
              <img             
                data-src="{{ article.image | img_url: '1100x' }}"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                alt="{{ article.image.alt | escape }}" class="lazyload img-fluid">
            </div>
        {%- endif -%}
        <div class="title" itemprop="headline">
          <a href="{{ article.url }}"><h2>{{ article.title }}</h2></a>
        </div>
        <div class="meta-blog">
       
          <span>
            <img data-src="{{ 'author.svg' | asset_url }}" alt="author-icon" class="lazyload">
            {{ article.author }}
          </span>
       
          <span>
            <img data-src="{{ 'date.svg' | asset_url }}" alt="date-icon" class="lazyload">
            {{ article.published_at | time_tag: format: 'month_year' }}
          </span>
       
        {%- if article.tags.size > 0 -%}
        <span><img data-src="{{ 'tags.svg' | asset_url }}" alt="tags-icon" class="lazyload">
         
          {%- for tag in article.tags -%}
          {% if forloop.first == true %}
          {%else %},{% endif %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
             
          {%- endfor -%}
        </span>
          {%- endif -%}
      </div>
      
          <div class="article-content" itemprop="articleBody" {{ block.shopify_attributes }}>
              {{ article.content }}
          </div>

        </div>
</article>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
