<div class="bestseller-shop">
    <div class="container">

        <div class="title-black text-center">
            {% if section.settings.heading-text != blank %}
            <h2 class="text-center h2">{{ section.settings.heading-text }}</h2>
            {% endif %}
        </div>

    </div>
    {%- assign collection = collections[section.settings.collection] -%}
    {%- assign product_limit = section.settings.grid -%}
    <div class="bestseller-slider">
        <div class="container-fluid-xl">
            <div class="owl-carousel owl-theme" id="shop-bestseller">
                {% for product in collection.products limit: 8 %}
                <div class="item">
                    <div class="best-product">
                        <a href="{{ product.url }}">
                            <div class="product-image">
                                {% if product.featured_image.src != null %}
                                <img data-id="{{ product.id }}" class="img-fluid lazyload"
                                    src="{{ product.featured_image.src | img_url: 'master' }}"
                                    alt="{{ product.title }}">
                                {% else %}
                                {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                                {% endif %}
                            </div>

                            <div class="product-details">
                                <h5>{{ product.title }}</h5>
                                <div class="product-price">
                                    <!-- <h6><span>{{ product.compare_at_price | money }}</span></h6> -->
                                    {% if section.settings.show_price %}
                                    <div class="get-price">
                                        <h6 data-id="{{ product.id }}">{{ product.price | money }}</h6>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>


</div>
{% schema %}
{
"name": "Bestseller Product",
"class": "index-section",
"settings": [
{
"id": "heading-text",
"type": "text",
"label": "Heading"
},
{
"id": "collection",
"type": "collection",
"label": "Collection"
},
{
"type": "range",
"id": "grid",
"label": "Display Product",
"min": 4,
"max": 20,
"step": 1,
"default": 4
},
{
"type": "checkbox",
"id": "show_price",
"label": "Show price",
"default": true
}
],
"presets": [
{
"name": "Bestseller Product",
"category": "Collection"
}
]
}
{% endschema %}